.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-heading{
  color: blue;
}

.custom-nav{
  border: 1px solid #eee;
}


.custom-nav ul{
  list-style-type: none;
  display: flex;
}

.custom-nav ul li{
  margin: 0px 10px 0px 10px;
  float: right;
}
.custom-nav ul li a{
  text-decoration: none;
}


.custom-nav ul li img{
  width: 100px;
}

table.custom-table {
  border-collapse: collapse;
  width: 100%;
}

.custom-table th, td {
  text-align: left;
  padding: 8px;
}

.custom-table tr:nth-child(even){background-color: #f2f2f2}

.custom-table th {
  background-color: #04AA6D;
  color: white;
}

.custom-form input[type=text], input[type=number], input[type=file], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.custom-form input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.custom-form input[type=submit]:hover {
  background-color: #45a049;
}

div.custom-form-section {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: left;
}

.custom-button {
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-danger{
  background-color: #f44336;
  color: #fff;
}

.button-primary{
  background-color: #008CBA;
  color: #fff;
}

.button-success{
  background-color: #4CAF50; /* Green */
  color: #fff;
}


.footer {
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #222;
  color: white;
  text-align: center;
}

.no-link{
  text-decoration: none;
  color: inherit;
}